/* Component stylesheet for ResetPassword.tsx */

.reset-password-btn {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.reset-password-text-2 {
  color: var(--danger);
  font-size: 0.875rem;
}

.reset-password-btn {
  width: 100%;
}
